body{
    background:black;
    color: whitesmoke;
    
    font-family: 'Playfair Display', serif;
    /* font-family: 'Raleway', sans-serif; */
}
.top{
    padding: 1rem;
    margin-top: 50px;   
}
.thin{
    font-weight: 300;
    padding: 5px;
    margin: 2px;
}
.nav-text{
    font-size: 1.4rem;
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 1px;
}
.jumbotron{
    background:#23262c!important;
    font-family: 'Playfair Display', serif!important;
}
hr{
    color: white;
    background: rgb(163, 155, 155);
}
.btn:focus{
    outline: none;
    border: none;
}
.link{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.link:hover{
    text-decoration: none;
    color: black;
}

.neon-btn{
    color: #03e9f4;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s;letter-spacing: 0.5px;
    border: 2px solid #03e9f4; outline: 0;
    border-radius: 15px; 
    font-family:'Playfair Display', serif!important;
}

.neon-btn:hover{
    background: #03e9f4; 
    color: #fff;
    box-shadow: 0 0 5px #03e9f4,
                0 0 15px #03e9f4, 
                0 0 30px #03e9f4,
                0 0 75px #03e9f4
}
.neon-btn:active{
    background: #03e9f4; 
    color: #fff;
    box-shadow: 0 0 5px #03e9f4,
                0 0 15px #03e9f4, 
                0 0 30px #03e9f4,
                0 0 75px #03e9f4
}
.case{
    border-radius: 20px;
    border: 2px solid lightslategray;    
}
.case:hover{
    box-shadow: 0 0 5px lightskyblue,
                0 0 15px lightskyblue, 
                0 0 30px lightskyblue,
                0 0 50px lightskyblue
}
