#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 3px solid #333;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}
#back-to-top-btn:active, #back-to-top-btn:focus {
    background-color: #333;
    color: #fff;  
}


@media(max-width: 992px) {
    #back-to-top-btn { 
        font-size: 22px; 
        width: 50px;
        height: 50px; 
        bottom: 15px; 
        right: 15px; }
}

@media(max-width:768px) {
    #back-to-top-btn { 
        font-size: 18px; 
        width: 50px; 
        height: 50px; 
        bottom: 6px; 
        right: 6px; }
}

  /* Animations */
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;  
    animation-name: btnExit;
}

  /* fadeOutDown */
@keyframes btnExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

